<div class="modal" id="conf-modal">
    <div class="modal-content center-align">

    </div>

    <div class="modal-footer">
        <div class="row" style="margin: 0px 0px;">
            <div class="col s12">
                <a class="btn tooltipped left" id="conf-modal-cancel" data-position="top" data-delay="50" data-tooltip="Cancelar" onclick="ConfirmationModal.onCancel()">
                    <i class="material-icons">clear</i>
                </a>
                <a class="btn confirm-button tooltipped" id="conf-modal-confirm" data-position="top" data-delay="50" data-tooltip="Confirmar"
                    onclick="ConfirmationModal.onConfirm()">
                    <i class="material-icons">done</i>
                </a>
            </div>
        </div>
    </div>
</div>