<div class="modal" id="language-modal">
    <div class="modal-content" id="language-modal-content">

    </div>

    <div class="modal-footer">
        <a class="btn grey accent-4 tooltipped" id="user-modal-cancel-button" data-position="top" data-delay="50" data-tooltip="Cancelar" onclick="LanguageModal.close()" ><i class="material-icons">clear</i></a>
        <a class="btn enso-main-color tooltipped" id="user-modal-save-button" data-position="top" data-delay="50" data-tooltip="Confirmar" onclick="LanguageModal.saveInfo()"><i class="material-icons">save</i></a>
    </div>
</div>
