<div class="modal" id="login-modal">
    <div class="modal-content">
        <!--<div class="row">
            <h5 class="center-align">Autenticação Requerida</h5>
        </div>-->
        <div class="row">
            <div class="input-field col s12">
                <input id="edit-username" type="text" autocomplete="off" class=" black-text">
                <label for="edit-username" id="user-name-label">Username</label>
            </div>
            <div class="input-field col s12">
                <input id="edit-password" type="password" autocomplete="off" class="black-text">
                <label for="edit-password" id="password-label">Password</label>
            </div>
        </div>
    </div>
    <div class="modal-footer" >
        <a onclick="performLogin();" class="right waves-effect waves-light btn enso-main-color tooltipped" id="login-button" data-position="top" data-delay="50" data-tooltip="Autenticar"><i class="material-icons">arrow_forward</i></a>
    </div>
</div>

<link href="./css/modal_Stuff.css" rel="stylesheet" type="text/css"/>

<script>
    var scripts = [ 
      "js/login.js"
    ];
  
    ensoConf.ensoLoadScripts(scripts);
</script>