<ul class="tabs tabs-fixed-width">
    <li class="tab" style="width: 50%;">
        <a class="enso-main-color-text active" onclick="activateInboxTab()">
            <span class="valign-wrapper"style="display: inline-flex">
                <i class="material-icons" style="padding-right: 10px;">archive</i><span class="hide-on-small-and-down" id="inbox-tab-text"></span></span>
        </a>
    </li>
    <li class="tab" style="width: 50%;">
        <a class="enso-main-color-text" onclick="activateOutboxTab()">
            <span class="valign-wrapper"style="display: inline-flex">
                <i class="material-icons" style="padding-right: 10px;">account_box</i><span class="hide-on-small-and-down" id="outbox-tab-text"></span></span>
        </a>
    </li>
</ul>
<div class="divider"></div>