<div class="modal-content">
    <div class="row" style="margin-bottom: 0px;">
        <div class="row">
            <div class="col s1">
                <i class="material-icons left tooltipped" data-position="right" data-delay="50" id="view-mode" onclick="CredentialModal.switchViewMode()">lock_outline</i>
            </div>
            <div class="col s1">
                <i class="material-icons left tooltipped" data-position="right" data-delay="50" id="share-button" onclick="ShareModal.show($('#edit-credential-id').val(), 'folder-modal')">share</i>
            </div>
            <div class="col s9">

            </div>
            <div class="col s1">
                <i class="material-icons right" onclick=" $('#folder-modal').modal('close');">close</i>
            </div>
        </div>
        <form id="validation-form" class="col s10 offset-s1" style="margin-top: 2em">
            <div class="row" style="margin-bottom: 0px;">
                <div class="input-field col s12">
                    <input id="edit-title" type="text" autocomplete="nope" class="validate" required/>
                    <input type="hidden" id="edit-credential-id" />
                    <label for="edit-title" id="title-label"></label>
                </div>
                <div class="input-field col s12" style="display: flex">
                    <input id="edit-username" type="text" autocomplete="nope" />
                    <label for="edit-username" id="username-label"></label>
                    <i class="material-icons right" onclick="CredentialModal.copyUsernameToClipboard()">content_copy</i>
                </div>
                <div id="password-div" onfocusin="//$('#password-options').slideDown();" onfocusout="//$('#password-options').slideUp();">
                    <div class="input-field col s12 valign-wrapper" style="display: flex">
                        <input id="edit-password" type="password" autocomplete="new-password" class="validate" required>
                        <label for="edit-password" id="password-label"></label>
                        <i class="material-icons right" id="edit-generate-password">settings_ethernet</i>

                        <i class="material-icons right" id="edit-look" onmousedown="$('#edit-password').clone().attr('type', 'text').insertAfter('#edit-password').prev().remove();"
                            onmouseup="$('#edit-password').clone().attr('type', 'password').insertAfter('#edit-password').prev().remove();">remove_red_eye</i>
                        <i class="material-icons right" onclick="CredentialModal.copyPasswordToClipboard()">content_copy</i>
                    </div>
                    <div class="col s12" style="margin-top: 2em; display:none" id="password-options">
                        <div class="col s6 m4 l3">
                            <input type="checkbox" id="lowercase-toggle" checked/>
                            <label for="lowercase-toggle">lowercase</label>
                        </div>
                        <div class="col s6 m4 l3">
                            <input type="checkbox" id="uppercase-toggle" checked/>
                            <label for="uppercase-toggle">uppercase</label>
                        </div>
                        <div class="col s6 m4 l3">
                            <input type="checkbox" id="number-toggle" checked/>
                            <label for="number-toggle">numbers</label>
                        </div>
                        <div class="col s6 m4 l3">
                            <input type="checkbox" id="specialchars-toggle" />
                            <label for="specialchars-toggle">special</label>
                        </div>
                        <div class=" input-field col s6 m4 l3" style="margin: 0px">
                            <input type="number" value="16" min="1" max="9999" id="length" onkeypress='return event.charCode >= 48 && event.charCode <= 57 && this.value < 9999' />
                            <label class="active" for="lowercase-toggle">length</label>
                        </div>
                        <div class="col s6 m4 l3">
                            <i class="material-icons" onclick="$('#edit-password').val(PasswordUtil.generate($('#length').val(), $('#lowercase-toggle').is(':checked'), $('#uppercase-toggle').is(':checked'), $('#number-toggle').is(':checked'), $('#specialchars-toggle').is(':checked'))); $('#password-label').addClass('active');$('#edit-password').addClass('valid').removeClass('invalid');">refresh</i>
                        </div>
                    </div>
                </div>

                <div class="input-field col s12" style="display: flex">
                    <input id="edit-url" type="url" autocomplete="nope" class="validate" oninput="$('#edit-url').val() == '' ? $('#url-btn').hide() : $('#url-btn').show()">
                    <label for="edit-url" id="url-label"></label>
                    <i class="material-icons right" id="url-btn" onclick="CredentialModal.openUrl()">open_in_new</i>
                    <input type="submit" id="validation" style="display: none" />
                </div>
                <div class="col s12">
                    <div class="input-field" style="margin-bottom: 0px;">
                        <textarea id="edit-description" class="materialize-textarea" autocomplete="nope" style="margin-bottom: 0px;"></textarea>
                        <label for="edit-description" id="description-label"></label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col s12">
            <a class="btn waves-effect waves-light tooltipped" id="credential-modal-cancel-button" data-position="top"
                data-delay="50" name="action" onclick=" $('#folder-modal').modal('close');">
                <i class="material-icons">clear</i>
            </a>
            <a class="btn waves-effect confirm-button waves-light tooltipped" id="credential-modal-save-button" data-position="top"
                data-delay="50" name="action" onClick="UserFolderView.saveCredential()">
                <i class="material-icons">save</i>
            </a>
            <a class="btn waves-effect waves-light left tooltipped" id="credential-modal-remove-button" data-position="top"
                data-delay="50" name="action" onClick="ConfirmationModal.show(LocalizationManager.getStringFromView('credential_modal', 'remove-confirmation'), UserFolderView.removeCredential, undefined, 'folder-modal')">
                <i class="material-icons">delete</i>
            </a>
        </div>
    </div>
</div>

<link href="./css/modal_Stuff.css" rel="stylesheet" type="text/css" />

<script>
    var scripts = [ 
      "js/ConfirmationModal.js",
      "js/modal_folders_edit_credential.js"
    ];
  
    ensoConf.ensoLoadScripts(scripts, function(){
        LocalizationManager.applyLocaleSettingsToGivenView('credential_modal');
        CredentialModal.enableLookMode();
        $('.tooltipped').tooltip({ delay: 50 });
    });

    $("#folder-modal").on('mousedown', function (event) {

        shown = false;

        $("#password-div").find("*").each(function name(ind, el) {
            if ($(event.target).attr('id') === "edit-generate-password" && $("#password-options").css("display") == "none") {
                    $("#password-options").slideDown();
                    shown = true;
            }
            else if(el === event.target)
            {
                shown = true;
            }
        });

        if (shown === false)
        {
            $("#password-options").slideUp();
        }

    });

    $("#length").oninput
</script>