<div class="row" style="padding-bottom: 10px">
    <div class="input-field col s3">
        <select id="facility-select">
            <option value="" selected id="all-facility"></option>
        </select>
        <label class="facility-label"></label>
    </div>
    <div class="input-field col s2 valign-wrapper">
        <input type="text" id="filter-from" class="datepicker">
        <label for="filter-from" id="filter-from-label"></label>
        <span>a</span>
    </div>
    <div class="input-field col s2 valign-wrapper">
        <input type="text" id="filter-to" class="datepicker">
        <label for="filter-to" id="filter-to-label"></label>
    </div>
    <div class="input-field col s3">
        <select id="severity-select">
            <option value="" selected id="all-severity"></option>
        </select>
        <label class="severity-label"></label>
    </div>
            <div class="input-field col s2">
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label for="autocomplete-input" id="user-filter-label"></label>
            <input type="hidden" id="actual-user-search" />
        </div>

</div>
<div class="divider"></div>

<table class="bordered centered highlight" id="log-table">
    <thead>
        <tr>
            <th id="date-header"></th>
            <th class="facility-label"></th>
            <th class="severity-label"></th>
            <th id="action-header"></th>
            <th id="user-header"></th>
        </tr>
    </thead>

    <tbody id="log-list-body">
    </tbody>
</table>
<script src="./js/LogActions.js" type="text/javascript"></script>
<script src="./js/sysadmin_view_logs.js" type="text/javascript"></script>