<table class="bordered centered highlight" id="user-table">
    <thead>
        <tr>
            <th id="username-header"></th>
            <th id="email-header"></th>
        </tr>
    </thead>

    <tbody id="user-list-body">
    </tbody>
</table>

<!-- Modal Structure -->
<div id="user-modal" class="modal modal-fixed-footer">
    
</div>

  <div class="fixed-action-btn">
    <a onclick="SysAdminUserManagement.launchUserAddModal()" id="create-user-button" class="btn-floating btn-large enso-main-color tooltipped" data-position="left" data-delay="50" data-tooltip="Criar Utilizador">
      <i class="large material-icons">person_add</i>
    </a>
  </div>
  <script>
    var scripts = [ 
      "js/modalUtils.js",
      "js/UserActions.js",
      "js/sysadmin_user_list.js"
    ];
  
    ensoConf.ensoLoadScripts(scripts);
  </script>