<div class="row">
    <table class="highlight striped bordered col s10 offset-s1 grey-text text-darken-2" style="cursor:pointer" id="tabela-folders">

    </table>
</div>

<div id="folder-modal" class="modal modal-fixed-footer">

</div>

<div class="fixed-action-btn">
    <a onclick="SysAdminFolderManagement.launchFolderAddModal()" class="btn-floating btn-large enso-main-color tooltipped" data-position="left" data-delay="50" data-tooltip="Criar Pasta">
        <i class="large material-icons">create_new_folder</i>
    </a>
</div>
<script>
    var scripts = [ 
        "js/FolderActions.js",
        "js/modalUtils.js",
        "js/sysadmin_manage_folders.js"
    ];
  
    ensoConf.ensoLoadScripts(scripts);
</script>