<ul class="tabs tabs-fixed-width">
    <li class="tab" style="width: 33.333333333333333%;">
        <a class="enso-main-color-text" onclick="activateViewLogsTab()">
            <span class="valign-wrapper"style="display: inline-flex">
                <i class="material-icons" style="padding-right: 10px;">format_align_center</i><span class="hide-on-small-and-down" id="logs-tab-text"></span></span>
        </a>
    </li>
    <li class="tab" style="width: 33.333333333333333%;">
        <a class="enso-main-color-text active" onclick="activateUserListTab()">
            <span class="valign-wrapper"style="display: inline-flex">
                <i class="material-icons" style="padding-right: 10px;">account_box</i><span class="hide-on-small-and-down" id="user-tab-text"></span></span>
        </a>
    </li>
    <li class="tab" style="width: 33.333333333333333%;">
        <a class="enso-main-color-text" onclick="activateManageFoldersTab()">
            <span class="valign-wrapper"style="display: inline-flex">
                <i class="material-icons" style="margin-right: 10px;">folder</i><span class="hide-on-small-and-down" id="folder-tab-text"></span></span>
        </a>
    </li>
</ul>
<div class="divider"></div>