<script src="js/ShareModal.js" type="text/javascript"></script>
<script src="js/messages.js" type="text/javascript"></script>
<script src="js/MessageModal.js" type="text/javascript"></script>
<script src="js/CredentialActions.js" type="text/javascript"></script>
<script src="js/ConfirmationModal.js"></script>
<script src="js/ExternalMessageActions.js" type="text/javascript"></script>
<script src="js/modal_folders_edit_credential.js" type="text/javascript"></script>
<script src="js/PasswordUtil.js" type="text/javascript"></script>
