.enso-main-color{
    background-color: #0082a5 !important;
}

.enso-main-color-lighter{
    background-color: #00a0cc !important;
}

.enso-main-color-lighter-text{
    color: #00a0cc !important;
}

.enso-main-color-text{
    color: #0082a5 !important;
}